apiVersion: v1
kind: Service
metadata:
  name: ml-inference
  namespace: ml-inference
  labels:
    app: ml-inference
spec:
  type: ClusterIP
  selector:
    app: ml-inference
  ports:
  - name: http
    port: 80
    targetPort: 8000
    protocol: TCP
  sessionAffinity: None
